@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file (e.g., App.css) */
.flip-card {
  width: 12rem; /* Width of the card */
  height: 12rem; /* Height of the card */
  perspective: 1000px; /* Creates the 3D space for the flip */
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9999px; /* Fully rounded */
}

.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-rotate-circle {
    position: relative;
    width: 140px;
    height: 140px;
  }
  
  .box-circle-round {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #007bff; /* Primary color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-video svg {
    z-index: 10;
  }
  
  .circle-text-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
    animation: rotate 10s linear infinite;
  }
  
  .circle-text span {
    position: absolute;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
      